body {
    font-family: Arial, sans-serif;

    background-color: #c3d8ef; /* Color azul claro de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
      
  }
  
  .container {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
    background-color: #96b6e5;
    margin: 20px auto;
    text-align: center;
  }
  

  h1 {
    margin-top: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #1b1919;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
  }
  
  input {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    
  }
  
  select {
    width: 35%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
/* Estilos para el botón dentro del contenedor */
.container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #45a049;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #45a049;
  }
  
  #finalMessage {
    margin-top: 20px;
  }
  
/* Estilos para el mensaje de respuesta correcta o incorrecta */
.container #correctAnswer {
    color: #dc3545; /* Color rojo para indicar respuestas incorrectas */
  }

  /* Estilos para el mensaje de puntaje final */
.container #finalMessageText {
    font-weight: bold;
    margin-bottom: 10px;
  }
  